.orange{
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, white, rgb(209, 209, 209));

    .wrapper{
        max-width: 1000px;
        height: 100%;
        margin: auto;

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h2{
                font-size: 30px;
                color: #68507B;
            }
            h1{
                font-size: 70px;
            }
            .buttons{
                button{
                    padding: 15px;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: transparent;
                    font-weight: 300;
                    margin-right: 20px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #68507B;
                }
            }
        }
    }
    .slidingContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -100px;
        white-space: nowrap;
        color: #68507b11;
        width: 50%;
        font-weight: bold;
    }
    .imageContainer{
        height: 100%;
        position: absolute;
        top: 100px;
        right: 100px;
        img{
            width: 300px;
        }
    }
}