@import "../../app.scss";

.navbar{
    height: 80px;

    .wrapper{
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        @include mobile{
            justify-content: flex-end;
            padding: 10px;
        }

        span{
            font-weight: bold;
            font-size: 2rem;
            @include mobile{
                display: none;
            }
        }
        .social{
            display: flex;
            gap: 20px;
        }
    }
}