
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8B86D;
    color: black;
    
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background: #E8B86D;
        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px; 
            a{
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none; 
        cursor: pointer;
    }
}